<ion-card>
  <img src="assets/img/keygen_wallet.png" />

  <ion-card-header>
    <ion-card-subtitle>
      <ion-text color="primary">Public Key Share</ion-text>
    </ion-card-subtitle>
    <ion-card-title>
      <ion-text color="secondary">
        <span class="style__strong style__large color__primary">{{ keyShare.sealer }}</span>
      </ion-text>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-text color="secondary">
      <h2>
        To participate in the distributed key generation, each sealer is required to upload the public key share including the key
        generation proof to the Public Bulletin Board.
      </h2>
    </ion-text>

    <ion-item *ngIf="!(busy$ | async)">
      <ion-button shape="round" size="small" color="primary" slot="end" color="secondary" (click)="sync()">BROADCAST</ion-button>
    </ion-item>
    <ion-item *ngIf="busy$ | async; then loading">
      <ion-button shape="round" size="small" color="primary" slot="end" color="secondary" (click)="sync()">BROADCAST</ion-button>
    </ion-item>
  </ion-card-content>

  <ng-template #loading>
    <ion-item>
      <ion-spinner slot="end"></ion-spinner>
    </ion-item>
  </ng-template>
</ion-card>
