<ion-content fullscreen="true">
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-toolbar color="translucent">
      <current-wallet-group></current-wallet-group>
    </ion-toolbar>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"><ion-refresher-content></ion-refresher-content></ion-refresher>

    <ng-container *ngIf="walletGroups | async as walletGroupsArray; else loading">
      <ng-container *ngIf="walletGroupsArray.length; else noItems">
        <ion-list class="walletGroups ion-no-padding" lines="none" *ngFor="let walletGroup of walletGroupsArray">
          <app-key-share [keyShare]="walletGroup.keyShare"></app-key-share>
        </ion-list>
      </ng-container>

      <ng-container>
        <ion-list lines="none">
          <ion-card>
            <img src="assets/img/ciphers_wallet.svg" />
            <ion-card-header>
              <ion-text color="primary">Encrypted Votes</ion-text>
            </ion-card-header>

            <ion-card-content>
              <ion-text color="secondary">
                <h2>
                  Fetch the encrypted votes from the Public Bulletin Board and sync with AirGap Vault for an offline partial decryption of
                  votes
                </h2>
              </ion-text>
              <!-- <ion-item>
                <ion-label>pk: {{ _keyShare.pk | shortenString }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>challenge: {{ _keyShare.proof.challenge | shortenString }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>response: {{ _keyShare.proof.response | shortenString }}</ion-label>
              </ion-item> -->

              <ion-item *ngIf="!(busy$ | async)">
                <ion-button shape="round" size="small" color="primary" slot="end" color="secondary" (click)="fetchEncryptedCiphers()">
                  FETCH & SYNC
                </ion-button>
              </ion-item>

              <ion-item *ngIf="busy$ | async; then loading">
                <ion-button shape="round" size="small" color="primary" slot="end" color="secondary" (click)="fetchEncryptedCiphers()">
                  FETCH & SYNC
                </ion-button>
              </ion-item>
            </ion-card-content>

            <ng-template #loading>
              <ion-item>
                <ion-spinner slot="end"></ion-spinner>
              </ion-item>
            </ng-template>
          </ion-card>
        </ion-list>
      </ng-container>

      <ng-template #noItems>
        <empty-state
          *ngIf="isDesktop"
          [text]="'portfolio.empty-state_desktop_text' | translate"
          [imageName]="'signer-vault-ledger-desktop.svg'"
          [fullHeight]="true"
        ></empty-state>
        <empty-state
          *ngIf="!isDesktop"
          [text]="'portfolio.empty-state_text' | translate"
          [imageName]="'sync_wallet_onboarding_1.svg'"
          [fullHeight]="true"
        ></empty-state>
      </ng-template>
    </ng-container>
    <ng-template #loading>
      <ion-list lines="none" class="ion-margin-top">
        <ion-card>
          <portfolio-item></portfolio-item>
        </ion-card>
        <ion-card>
          <portfolio-item></portfolio-item>
        </ion-card>
        <ion-card>
          <portfolio-item></portfolio-item>
        </ion-card>
        <ion-card>
          <portfolio-item></portfolio-item>
        </ion-card>
      </ion-list>
    </ng-template>
  </ion-grid>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="wallets | async | walletFilter: { status: AirGapWalletStatus.ACTIVE } as walletsArray">
      <ion-fab-button *ngIf="walletsArray.length > 0" id="add-more-coins-button" color="secondary" (click)="openAccountAddPage()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-button
        *ngIf="walletsArray.length === 0"
        id="add-initial-coin-button"
        color="secondary"
        (click)="openAccountAddPage()"
        shape="round"
      >
        <ion-icon slot="start" name="add"></ion-icon>
        {{ 'portfolio.add-coins_label' | translate }}
      </ion-button>
    </ng-container>
  </ion-fab> -->
</ion-content>
